<!--ring div starts here-->
<body>
  <div class="ring">
    <i style="--clr:#0d8611;"></i>
    <i style="--clr:#9e0f3e;"></i>
    <i style="--clr:#f2ee07;"></i>
    <div class="login">
      <h2>Login</h2>
      <div class="inputBx">
        <input type="text" placeholder="Username">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Password">
      </div>
      <div class="inputBx">
        <input type="submit" value="Sign in">
      </div>
      <div class="links">
        <a href="#">Forget Password</a>
        <a href="#">Signup</a>
      </div>
    </div>
  </div>
</body>
<!--ring div ends here-->